{% extends 'shop/base.html' %}
{% load static %}
{% block title %}
  Publicación de {{ foro.nombre_usuario }}
{% endblock %}
{% block myfirstpc %}
{% endblock %}

{% block content %}
    <div class="row comentarios justify-content-center">
			<div class="col-12 col_relleno2"></div>
			<div class="col-auto justify-content-center">
				<h1 class="display-1 text-success">Asunto: {{ foro.asunto }}</h1>
			</div>
			<div class="col-12 col_relleno0"></div>
			<div class="col-auto justify-content-center">
				<h1 class="display-4">Usuario: {{ foro.nombre_usuario }}</h1>
				<h1 class="text-danger">{{ foro.fecha_pub }}</h1>
			</div>
			<div class="col-12 col_relleno1"></div>

			<div class="col-8 col_comentario">
                <div class="container border rounded my-5">
                    <div class="media">
                        <div class="media-body">
                            <h4 class="comentario">{{ foro.contenido }}</h4>
                        </div>
                    </div>
                </div>
			</div>
            <div class="container text-center">
                <a class="btn btn-outline-success sm" type="button" href="{% url 'foro:foro_listar' %}">Volver</a>
            </div>
{% endblock %}
