{% extends 'shop/base.html' %}
{% load static %}
{% block title %}
Registro
{% endblock %}
{% block myfirstpc %}
    <div class="container-fluid text-center rounded py-3">
      <div id="promo rounded" style="background-image:url({% static 'img/hardware2.jpg' %})">
        <div class="container py-2">
          <div class="jumbotron rounded my-auto">
            <h1 style="font-family: Acme, sans-serif;"><strong>REGISTRO</strong></h1>
          </div>
        </div>
      <div class="bd-example"></div>
      </div>
    </div>
{% endblock %}
{% block content %}
<form method="post">
	{% csrf_token %}
	<div class="container my-5">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label>Nombre</label>
                    <input class="form-control" type="text" name="first_name">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label >Apellidos</label>
                    <input class="form-control" type="text" name="last_name">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label >Nombre de usuario</label>
                    <input class="form-control" type="text" name="username">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label >Correo</label>
                    <input class="form-control" type="text" name="email">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label >Contraseña</label>
                    <input class="form-control" type="password" name="password1">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label >Confirmar contraseña</label>
                    <input class="form-control" type="password" name="password2">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label >Direccion</label>
                    <input class="form-control" type="text" name="address">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label >Telefono</label>
                    <input class="form-control" type="text" name="number">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label >Ciudad</label>
                    <select class="form-control" type="text" name="city">
                        <option>Armenia</option>
                        <option>Barrancabermeja</option>
                        <option>Barranquilla</option>
                        <option>Bogota</option>
                        <option>Bucaramanga</option>
                        <option>Buga</option>
                        <option>Cali</option>
                        <option>Cartagena</option>
                        <option>Chia</option>
                        <option>Cucuta</option>
                        <option>Duitama</option>
                        <option>Florencia</option>
                        <option>Fusagasugá</option>
                        <option>Girardot</option>
                        <option>Honda</option>
                        <option>Ibagué</option>
                        <option>Ipiales</option>
                        <option>Jamundí</option>
                        <option>Leticia</option>
                        <option>Manizales</option>
                        <option>Mariquita</option>
                        <option>Medellin</option>
                        <option>Mompox</option>
                        <option>Monteria</option>
                        <option>Murillo</option>
                        <option>Neiva</option>
                        <option>Pamplona</option>
                        <option>Pasto</option>
                        <option>Pereira</option>
                        <option>Riohacha</option>
                        <option>San Andrés y Providencia</option>
                        <option>San Antero</option>
                        <option>Santa Marta</option>
                        <option>Santafé de Antioquia</option>
                        <option>Sevilla</option>
                        <option>Sincelejo</option>
                        <option>Sogamoso</option>
                        <option>Tabio</option>
                        <option>Tocancipá</option>
                        <option>Tolú</option>
                        <option>Tuluá</option>
                        <option>Tumaco</option>
                        <option>Tunja</option>
                        <option>Valledupar</option>
                        <option>Villavicencio</option>
                        <option>Yopal</option>
                        <option>Zipaquirá</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label >Cedula</label>
                    <input class="form-control" type="text" name="cc">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <button class="btn btn-outline-success "type="submit">Agregar Usuario</button>
                </div>
            </div>
        </div>
	</div>
</form>
{% endblock %}